.entry-container{
    width:100%;
    height:100vh;
    background: url("../img/ghibli-background.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.entry-content{
    display:block;
    background-color:white;
    border-radius:5px;
    border: 1px solid grey;
    height:100%;
    width:70%;
    margin:0 auto;
    padding: 25px 15px 15px 15px;
}

#main-stuff{
    width:100%;
    height:90%;
    position:relative;
}

#box-info{
    width:30%;
    height:100%;
    display:block;
    position:relative;
    border:1px solid grey;
    padding: 5px 5px;
    border-radius:10px;
    float:left;
    margin-right:20px;
}

.box-row:after{
    content: "";
    display: table;
    clear: both;
}

.box-column{
    float:left;
    width:50%;
    padding:10px;
}

.Noun{
    font-weight:bold;
}
